.one {
  float: left;
  width: 500px;
  margin: 10px;
  border-radius: 10px;
}
.two {
  font-size: 50px;
}
.three {
  font-size: 25px;
}
.four {
  float: left;
  margin: 10px;
  border-radius: 10px;
  width: 500px;
}
.five {
  float: left;
  margin: 10px;
  border-radius: 10px;
  width: 500px;
}
.six {
  float: right;
  margin: 10px;
  width: 500px;
  border-radius: 10px;
}
.seven {
  float: left;
  margin: 5px;
  width: 500px;
  border-radius: 5px;
}
.eight {
  float: left;
  margin: 10px;
  border-radius: 10px;
  width: 500px;
}
.nine {
  float: left;
  margin: 10px;
  border-radius: 10px;
  width: 500px;
}
.ten {
  float: right;
  margin: 10px;
  border-radius: 10px;
  width: 500px;
}
.eleven {
  float: left;
  margin: 10px;
  border-radius: 10px;
  width: 500px;
}
.twelve {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 700px;
}
.thirteen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 400px;
}
.pokemon {
  text-decoration: aqua;
  font-size: 50px;
  color: slategray;
}
.next_button {
  background-color: aqua;
  float: right;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 40px;
}
.previous_button {
  
  background-color: aqua;
  float: left;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 40px;
}
.button {
  background-color: greenyellow;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  font-size: 40px;
  text-decoration-color: aliceblue;
}
.akuma {
  width: 435px;
  margin: 10px;
}
.big {
  font-size: 70px;
}
.small {
  font-size: 40px;
}